/*selector {property: value;} */
	* { text-align: center;}
body {
	background-image: url(photo-1511798616182-aab3698ac53e.jpg);
	background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
     
      color:rgba(255, 101, 101);}
	  
	  
.thetitle {
           font-style:italic;
           font-family: 'Courier New', Courier, monospace;
           font-size: 60px;
           text-align: center;
           border: 4px solid rgba(255, 255, 170, 0.7);
           cursor:pointer;
           padding: 5px;
           display: inline-block;
        }


a {
  color:rgba(255, 255, 170, 0.7);
  text-decoration: none;
}	  
a:hover {
  color:rgba(212, 106, 106);
text-decoration: none;}




h3:hover {color:rgba(229, 30, 35);}

.regi:hover {color:rgba(229, 30, 35);}
#regi3:hover {color:rgba(229, 30, 35);}
#regi4:hover {color:rgba(229, 30, 35);}
#regi5:hover {color:rgba(229, 30, 35);}
#regi6:hover {color:rgba(229, 30, 35);}

#regi7:hover {color:rgba(229, 30, 35);}
#loginfieldline{text-align: center;
  margin: 0px 100px 0px 0px;
  font-style: italic;
  font-size: 20px;
  
}


input[type=text],[type=password],[type=email],[type=date] {
  width: 200px;
  display: block; /*blocks allways centers buy those 2 under it!!!*/
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box; 
  
}

